<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a [routerLink]="['/vinay-profile']">
                        Profile
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/skills']">
                        Skills
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/experience']">
                        Experience
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/project-demos']">
                        Project Demo
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/javascript-algorithms']">
                        JavaScript Algorithms
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">
                        Query / Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right text-muted">
            Copyright &copy;
            {{test | date: 'yyyy'}},
            <a href="https://www.vinayone.com" target="_blank"><img style="width:102px;" src="../../../assets/img/vinayone-font-logo.png" /></a>. All rights reserved.
        </div>
    </div>
</footer>
