<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Work Experience</h4>
                        <p class="card-category"> 11+ Years of total experience in IT</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Sl No.
                                    </th>
                                    <th>
                                        Company
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Duration
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Adapt IT, Johannesburg, South Africa
                                        </td>
                                        <td>
                                            Senior Software Engineer | Angular Developer
                                        </td>
                                        <td>
                                            Feb 2022 to Mar, 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Publicis Sapient, Bangalore
                                        </td>
                                        <td>
                                            Senior Software Engineer
                                        </td>
                                        <td>
                                            Sep, 2020 to Oct, 2021
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sasken Technologies, Domlur, Bangalore
                                        </td>
                                        <td>
                                            Senior Software Engineer
                                        </td>
                                        <td>
                                            Oct, 2017 to July, 2019
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philips Innovation, Bangalore
                                        </td>
                                        <td>
                                            Senior Frontend Developer
                                        </td>
                                        <td>
                                            March, 2017 to Sep, 2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Cisco Systems India
                                        </td>
                                        <td>
                                            Senior Frontend Developer
                                        </td>
                                        <td>
                                            March, 2016 to Feb, 2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Infore Systems India Pvt. Ltd
                                        </td>
                                        <td>
                                            Frontend Developer
                                        </td>
                                        <td>
                                            November, 2014 to March, 2016
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            7
                                        </td>
                                        <td>
                                            Adodis Technologies, Ramamurthy Nagar, Blr
                                        </td>
                                        <td>
                                            PHP & UI Developer
                                        </td>
                                        <td>
                                            March, 2013 to June, 2014
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           8
                                        </td>
                                        <td>
                                            SPEEDWEB Service, Jeevanhalli, Bangalore
                                        </td>
                                        <td>
                                            PHP Developer
                                        </td>
                                        <td>
                                            August, 2011 to March, 2013
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
