<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        @for (item of navItems; track item.path) {
          <li>
            <a [routerLink]="['/', item.path]">
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </nav>

    <div class="copyright pull-right text-muted">
      Copyright &copy;
      {{ year | date: 'yyyy' }},
      <a href="https://www.vinayone.com" target="_blank" rel="noopener noreferrer">
        <img
          src="assets/img/vinayone-font-logo.png"
          alt="vinayone"
          style="width: 102px"
        />
      </a>. All rights reserved.
    </div>
  </div>
</footer>
