<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">v4.2+</p>
                        <h3 class="card-title"><small>MongoDB</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 5.5 years
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">v4+</p>
                        <h3 class="card-title"><small>Express.js</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 4.5 years
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">code</i>
                            </div>
                            <p class="card-category">v7+</p>
                            <h3 class="card-title"><small>Angular</small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i> Experience: 7+ years
                            </div>
                        </div>
                    </div>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">v11+</p>
                        <h3 class="card-title"><small>Node.js</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 4.5 years
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">vES6+</p>
                        <h3 class="card-title"><small>JavaScript</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 10+ years
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">v5</p>
                        <h3 class="card-title"><small>HTML</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 11+ years
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">code</i>
                            </div>
                            <p class="card-category">v3</p>
                            <h3 class="card-title"><small>CSS</small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i> Experience: 11+ years
                            </div>
                        </div>
                    </div>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">v3+</p>
                        <h3 class="card-title"><small>Bootstrap</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 7+ years
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">v9.2+</p>
                        <h3 class="card-title"><small style="font-size:14px">Angular Material</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 5 years
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">code</i>
                        </div>
                        <p class="card-category">-</p>
                        <h3 class="card-title"><small>GitHub</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 5 years
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">code</i>
                            </div>
                            <p class="card-category">v6+</p>
                            <h3 class="card-title"><small>PHP</small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i> Experience: 4 years
                            </div>
                        </div>
                    </div>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">v6+</p>
                        <h3 class="card-title"><small>MySQL</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">history</i> Experience: 4 years
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>