<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Fibonacci Series</h4>
                        <p class="card-category"> JavaScript algorithm for Fibonacci Series</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_fibonacci"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Palindrome</h4>
                        <p class="card-category"> JavaScript algorithm for Palindrome</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_palindrome"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Bubble Sort</h4>
                        <p class="card-category"> JavaScript algorithm for Bubble Sort</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_bubblesort"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Add Diagonals of Matrix</h4>
                        <p class="card-category"> JavaScript algorithm to add diagonals of matrix</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_diamatrix"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Missing number in an array</h4>
                        <p class="card-category"> JavaScript algorithm to find missing number in array</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_missing_number"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Duplicates in an array</h4>
                        <p class="card-category"> JavaScript algorithm to find duplicates in array</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_duplicates"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Prime Number</h4>
                        <p class="card-category"> JavaScript algorithm to check prime number</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_prime_number"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
      <!--  <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Odd Number</h4>
                        <p class="card-category"> JavaScript algorithm to check odd number</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_odd_number"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Even Number</h4>
                        <p class="card-category"> JavaScript algorithm to check even number</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_even_number"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Sum of two arrays</h4>
                        <p class="card-category"> JavaScript algorithm to find sum of two arrays</p>
                    </div>
                    <div class="card-body">
                    <pre>
                        <code [innerHTML]="javascript_sum_of_two_arrays"></code>                        
                    </pre>                         
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
